<h1><%= @sound.title %></h1>


<script type="text/javascript" src="scripts/soundcloud.player.api.js"></script>
<script type="text/javascript">
     soundcloud.addEventListener('onPlayerReady', function(player, data) {
       player.api_play();
     });
</script>

<object height="81" width="100%" id="yourPlayerId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
    <param name="movie" value="http://player.soundcloud.com/player.swf?url=<%= @sound.soundcloud_url %>&enable_api=true&object_id=yourPlayerId"></param>
    <param name="allowscriptaccess" value="always"></param>
    <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=<%= @sound.soundcloud_url %>&enable_api=true&object_id=yourPlayerId" type="application/x-shockwave-flash" width="100%" name="yourPlayerId"></embed>
  </object>

<form method="post" action="<%= "/sounds/#{@sound.id}" %>" >
    <input type="hidden" name="_method" value="delete">
<!-- 
    cant do method=delete but can put in additional input with name "_method" <- rails thingy and value=delete -->
    <input type="submit" value="delete" name="delete">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</form>